<!-- templates/bird_card.html -->
<div class="card" style="width: 18rem; text-align:center; font-size:14px;">
  <!-- 图片 -->
  <img src="{{ img_url }}" class="card-img-top" alt="{{ species }}"
        style="width:200px; height:auto; object-fit:contain;"
       onerror="this.src='https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg'">
       

  <div class="card-body">
    <!-- 鸟名 -->
    <h5 class="card-title" style="font-size:18px; font-weight:bold;">{{ species }}</h5>

    <!-- 观测信息 -->
    <p class="card-text">{{ locName }}</p>
    <p class="card-text">Count: {{ howMany }}</p>
    <p class="card-text">Time: {{ obsDt }}</p>

    <!-- 播放按钮 -->
    <button onclick="parent.loadBirdSound('{{ species_js }}')" 
            class="btn btn-primary btn-sm">
      🎵 Listen
    </button>
  </div>
</div>